* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #666666;
    --body-color: #ffffff;
    --footer-color: #222222;
    --text-color: #837e7e;
    --text-color-2nd: #898989;
    --text-color-3th: #000000;
    --text-color-4th: #777777;
    --text-color-5th: #696969;
    --border-color: #dddddd;
    --red: #dd2f31;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    height: 950px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/hero-img.jpg') center/cover no-repeat;
    background-color: #000000;
    .header {
        width: 100%;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        height: 6.25em;
        background-color: rgba($color: #000000, $alpha: 0.6);
        transition: all 0.6s ease;
        nav {
            line-height: 6.25em;
            transition: all 0.6s ease;
            .logo {
                margin-right: 5.625em;
                img {
                    vertical-align: middle;
                }
            }
            .navbar {
                margin-right: 8.25em;
                justify-content: space-between;
                flex-basis: 37em;
            }
            .search-bar {
                flex-basis: 9.875em;
                justify-content: space-between;
                align-items: center;
                span {
                    border-left: 1px solid var(--text-color);
                    overflow: hidden;
                    height: 1em;
                }
            }
        }
    }
    .shop-intro {
        
        justify-content: space-between;
        .left-col {
            padding-top: 19.6875rem;
            z-index: 1;
            max-width: 33rem;
            h1 {
                font-size: 3.75rem;
            }
            h2 {
                margin-top: 1.875rem;
                margin-bottom: 2.5rem;
                font-size: 2.5rem;
            }
            p {
                font-size: 0.875rem;
            }
            button {
                margin-top: 3.125rem;
                text-transform: uppercase;
                background-color: transparent;
                color: var(--body-color);
                border: 1px solid var(--body-color);
                padding: 1.25em 3em;
                cursor: pointer;
                font-weight: bold;
                box-shadow: inset 0 0 0 0 #ffffff;
                transition: all 0.6s;
                &:hover {
                    background-color: var(--body-color);
                    color: rgb(52, 51, 51);
                    box-shadow: inset 400px 0 0 0 #ffffff;
                }
            }
        }
        .right-col {
            padding-top: 11.9375em;
            height: 47.5em;
            max-width: 27.5em;
            img {
                object-fit: cover;
                filter: drop-shadow(0px 0px 3px #222);
            }
        }

    }
}

section {
    position: relative;
    .product-category {
        position: absolute;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        width: 100%;
        flex-wrap: wrap;
        top: 0px;
        .cat {
            background-color: var(--body-color);
            flex-basis: 390px;
            height: 250px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            p {
                color: var(--text-color-2nd);
                max-width: 285px;
                font-size: 14px;
                text-align: center;
            }
        }
        .pos-1 {
            order: 1;
        }
        .pos-2 {
            order: 5;
        }
        .pos-3 {
            order: 3;
        }
        .pos-4 {
            order: 4;
            h3::before {
                content: '';
                display: block;
                height: 55px;
                width: 68px;
                margin: 0 auto;
                background: url(./img/dumbbells-icon.png) center no-repeat;
            }
        }
        .pos-5 {
            order: 2;
            h3::before {
                content: '';
                height: 70px;
                width: 55px;
                margin: 0 auto;
                display: block;
                background: url(./img/strength-icon.png) center no-repeat;
            }
        }
        .pos-6 {
            order: 6;
            h3::before {
                content: '';
                margin: 0 auto;
                height: 70px;
                width: 55px;
                display: block;
                background: url(./img/power-rack&cage-icon.png) center no-repeat;
            }
        }
        h3 {
            text-transform: uppercase;
            font-weight: bold;
        } 
    }
    .list-products {
        padding-top: 31.625rem;
        .tab {
            // button {
            //     border: 2px solid transparent;
            //     background-color: var(--body-color);
            //     text-transform: uppercase;
            //     cursor: pointer;
            //     padding: 20px 18px;
            //     font-weight: bold;
            //     font-size: 18px;
            //     &:hover {
            //         color: red;
            //         border-bottom: 2px solid red;
            //     }
            //     &.active {
            //         color: red;
            //         border-bottom: 2px solid red;
            //     }
            // }
            a {
                border: 2px solid transparent;
                color: var(--text-color-3th);
                text-transform: uppercase;
                cursor: pointer;
                padding: 20px 18px;
                font-weight: bold;
                font-size: 18px;
                display: inline-block;
                &:hover {
                    color: red;
                    border-bottom: 2px solid red;
                }
                &.active {
                    color: red;
                    border-bottom: 2px solid red;
                }
            }
        }
        .products {
            // display: none;
            padding-top: 40px;
            flex-wrap: wrap;
            justify-content: space-between;
            .product {
                flex-basis: 272px;
                height: 330px;
                cursor: pointer;
                position: relative;
                img {
                    height: 192px;
                    width: 220px;
                    object-fit: contain;
                    display: block;
                    margin: 0 auto;
                    transition: all 0.4s;
                    margin-top: 20px;
                    padding: 14px;
                }
                p {
                    margin-top: 44px;
                    margin-left: 26px;
                    color: var(--text-color-3nd);
                    width: 220px;
                    font-weight: 500;
                }
                span {
                    margin-left: 26px;
                    font-weight: bold;
                    width: 220px;
                    display: block;
                    margin-bottom: 28px;
                    margin-top: 2px;
                }
                &:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    img {
                        padding: 0px;
                    }
                    .icons {
                        opacity: 1;
                    }
                }
                .icons {
                    position: absolute;
                    top: 1.25rem;
                    right: 0.8125rem;
                    height: 182px;
                    width: 34px;
                    opacity: 0;
                    z-index: 999;
                    li 
                    {
                        margin-bottom: 15px;
                        a {
                            position: relative;
                            height: 34px;
                            width: 34px;
                            display: block;
                            border: 1px solid var(--border-color);
                            border-radius: 5px 0 5px 0;
                            i {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            &:hover {
                                background-color: var(--red);
                                border-color: var(--red);
                            }
                        }
                    }
                }
                margin-bottom: 2.375rem;
            }
        }
    }
    .brands {
        justify-content: space-between;
        img {
            margin-top: 2.625rem;
            margin-bottom: 2.5rem;
            cursor: pointer;
        }
    }
}

footer {
    height: 718px;
    background-color: var(--footer-color);
    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: var(--body-color);
    }
    a {
        color: var(--text-color-4th);
    }
    p {
        color: var(--text-color-5th);
    }
    .upper-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin-top: 6.25rem;
            margin-bottom: 2.125rem;
        }
        p  {
            text-align: center;
            max-width: 850px;
        }
        ul {
            margin-top: 2.5rem;
            justify-content: space-between;
            width: 210px;
            margin-bottom: 3.125rem;
            a {
                display: block;
                font-size: 18px;
            }
        }
    }
    .below-footer {
        margin-top: 4.5rem;
        gap: 9rem;
        .col {
            a {
                margin-top: 1.25rem;
                display: block;
                i {
                    margin-right: 1.2rem;
                }
            }
        }
    }
    .copy-right {
        margin-top: 2.5rem;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background-color: #111111;
    }
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    &:hover {
        color: var(--body-color);
    }
}

p, h1, h2 {
    color: var(--body-color);
}

li {
    list-style: none;
}

.flex {
    display: flex;
}
.center-div {
    margin: 0 auto;
}
.grid-layout {
   max-width: 1170px;
}
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-line {
    height: 24px;
    line-height: 24px;
}
hr {
    color: #222222;
}